@model BattleShipIndexViewModel

@{
    ViewData["Title"] = "BattleShip";
}

<div class="float-end">
    <a asp-controller="Battleship" asp-action="NewGame" class="btn btn-outline-secondary position-fixed">Iniciar un nuevo juego </a>
</div>

<div class="text-center">
    <h1 class="fw-normal">Juego de Battleship</h1>
    <p>@User.Identity?.Name</p> 
</div>

<div>
    @if (Model.ActiveGames == null || Model.ActiveGames!.Count == 0)
    {
        <div class="text-center mt-5">
            <h5 class="text-muted">No hay juegos pendientes</h5>
        </div>
    }
    else
    {
        foreach (var item in Model.ActiveGames)
        {
            <div class="row">
                <table class="table table-striped-columns">

                    <thead>
                        <tr>
                            <th scope="col">Oponente</th>
                            <th scope="col">Fecha de incio del juego</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@item.OponnetName</td>
                            <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if(item.IsConfigurationPhase == true)
                                {
                                    <a asp-controller="" asp-action="" class="btn btn-outline-warning float-end me-2"><i class="bi bi-arrow-left-short"></i>Seguir Configurando</a>

                                }else
                                {
                                     <a asp-controller="" asp-action="" class="btn btn-outline-success float-end me-2"><i class="bi bi-arrow-left-short"></i>Seguir jugando</a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        }
    }
</div>


<div>
    @if (Model.WonGames == null || Model.WonGames!.Count == 0)
    {
        <div class="text-center mt-5">
            <h5 class="text-muted">No hay juegos ganados</h5>
        </div>
    }
    else
    {
        foreach (var item in Model.WonGames)
        {
            <div class="row">
                <table class="table table-striped-columns">

                    <thead>
                        <tr>
                            <th scope="col">Ganador</th>
                            <th scope="col">Oponente</th>
                            <th scope="col">Fecha de finalizacion</th>
                            <th scope="col">Duracion</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@item.WinnerName</td>
                            <td>@item.OponentName</td>
                            <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.Duration</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        }
    }
</div>

